<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCSPI1UTY5IC68MZfNTNGXr2Ed4_tQMaO8</string>
	<key>GCM_SENDER_ID</key>
	<string>332186213757</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterSecureAuth</string>
	<key>PROJECT_ID</key>
	<string>flutter-secure-auth</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-secure-auth.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:332186213757:ios:df85b5ea40e1a24ac2c014</string>
</dict>
</plist>